body, html {
    font-size: 16px;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 400;
    background: #EF4723;
    padding: 30px;
    text-align: center;
}
h1 {
    font-size: 250%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
p.intro {
    padding: 20px;
    border-top: 1px solid #222;
    font-size: 120%;
}
form {
    padding: 20px;
}
button {
    font-size: 180%;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    background-color: #fcfcfc;
    padding: 20px 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}